@mixin menu-nav-active {
    border-radius: 6px;
    background: $red;
    bottom: 25%;
    left: 0;
    position: absolute;
    height: 2px;
}

@mixin button {
    border-radius: 48px;
    padding: 8px 45px;
    color: $white;
    transition: 200ms;
    &:hover {
        opacity: 0.8;
    }
}

@mixin flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
