@import 'var';

@mixin menu-nav-active {
    border-radius: 6px;
    background: $red;
    bottom: 25%;
    left: 0;
    position: absolute;
    height: 2px;
}

@mixin button {
    border-radius: 48px;
    padding: 8px 45px;
    color: $white;
    transition: 200ms;
    &:hover {
        opacity: 0.8;
    }
}

@mixin flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin button_navigation {
    background: #fff3f5;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    color: $red;
    padding: 5px 10px;
    transition: 500ms ease-in-out;

    &:first-child {
        margin-right: 20px;
    }

    &:hover {
        color: #ffffff;
        background: #e71d36;
        box-shadow: 0px 4px 6px rgba(231, 29, 54, 0.2);
        border-radius: 6px;
    }
}

@mixin small-mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
