$main-text-color: #011627;
$dark-mode-text-color: #011627;

$light-background-color: #fdfffc;
$dark-background-color: #162527;

$red: #e71d36;
$white: #ffffff;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
